nav img{
    width: 70px;
}
nav{
    opacity: 0.9;
}
nav ul li:hover{
    
    background: #acaf02!important;
}
.price{
    color: #ff136f;
}
.line {
    width: 200px;
    height: 0px;
    margin-bottom: 36px;
    border-bottom: 2px solid rgb(190, 211, 5);
}
.line-2 {
    width: 180px;
    height: 6px;
    
    border-bottom: 4px solid rgb(223, 247, 12);
}
.buy-button{
    background: #080811;
    color: #fff;
    border: none;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.buy-button:hover{
    color: #fff;
}
.crd{
    box-shadow: 3px 4px 8px 2px;
}
.right{
    color: #acaf02;
}
.orange-bg{
    background: #ab8e8ab8;
}
.carousel-item{
    padding: 20px 40px;
}

#cate{
    background: #f4f5d1;
}
.nis{
    margin-top: 100px;
   
}
.nis-1{
    padding: 50px;
  
}.divider{
    display: inline-block;
    margin: 1rem auto;
}

/*====Footer Section====*/
.footer-section{
    background: #4c2e2e;
}
.footer-section .short-info{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 1.6rem;
}
.footer-section .first-footer .short-info{
    width: 100%;
}
.footer-section .payment-grid,
.footer-section .icon-grid{
    margin-top: 3rem;
}
.footer-section .payment-grid i,
.footer-section .icon-grid i{
    font-size: 2rem;
    color: #fff;
    margin-left: 1rem;
}
.footer-section .icon-grid  i:hover {
    color: #cc9900;   
}
footer h3{
    margin-right: 50px;
}
